.login-body{
    background-size: cover;
}

.login-card{
    width: 400px;
    height: 250px;
    background-color: rgb(41, 91, 113);
    border-radius: 15px;
    margin-left: 910px;
    top: 170px;
    opacity: 95%;
}

.login-card-title{
    padding-left: 148px;
    padding-bottom: 10px;
}

.login-button{
    background-color: rgb(61, 141, 166);
}
.login-register-link{
    margin-left: 15px;
}
.link{
    color: rgb(61, 141, 166);
}

.email-icon{
    transform: scale(0.7);
}

.full-width{
    width: 100%;
}