.register-body{
    background-size: cover;
}
.register-card{
    width: 420px;
    height: 410px;
    background-color: rgb(41, 91, 113);
    border-radius: 15px;
    top: 130px;
    left: 80px;
    opacity: 85%;
}

.register-card-title{
    padding-left: 140px;
}



.register-button{
    background-color: rgb(61, 141, 166);
}

.register-login-link{
    margin-left: 15px;
}
.link{
    color: rgb(61, 141, 166);
}

.full-width{
    width: 100%;
}
.email-icon{
    transform: scale(0.7);
}